<div class="header">
    <h2 *ngIf="currentUser !== null">{{welcomer}} {{currentUser.Prenom}} {{currentUser.Nom}}</h2>
    <h2 *ngIf="currentUser === null">{{welcomer}}</h2>
</div>
<app-carousel></app-carousel>
<div id="container" *ngFor="let prop of properties">
    <a (click)="rentProp(prop._id)">
        <img style="width: 250px; height: 150px;" src="{{prop.PictureUrl}}"><br>
        <div style="margin-top: -115px">
            <p class="titreDaronne">{{prop.Titre}}</p>
            <p>{{prop.PetiteDescription}}</p>
            <p>{{prop.Capacite}} personnes, {{prop.SDB}} salle(s) de bain</p>
        </div>
    </a>
</div>