#inscription{
    font-family: 'Lato', 'Helvetica', sans-serif;
    font-weight: 500;
    font-size: 12px;
    font-size: auto;
    text-align: left;   
    width: 400px;
    margin: -10px auto; 
    padding: 20px 100px;
    background-color: rgb(256, 256, 256, 0.6);
    border-radius: 30px;
}

#inscription > h1 {
    text-align: center;
    margin: 0px 0px 20px 0px;
}

.addRentForm > p:first-child{
    border-radius: 15px 15px 0px 0px;
}

.addRentForm > p:nth-child(20){
    border-radius: 0px 0px 15px 15px;
}

.formSpacing {
    padding: 10px 0px 10px 10px;
    border: 1px solid rgb(214, 214, 214);
    margin: 0px;
}

mat-label {
    font-size: 18px;
}

select {
    width: 210px;
    padding: 5px;
    border: none;
    background: none;
}

input {
    width: 200px;
    padding: 5px;
    font-weight: 300;
    font-size: 16px;
    border: none;
    background: none;
}

.right-label {
    float: right;
    border-left: 1px solid #888;
}

.pictureBien{
    display: grid;
}

.photoBien{
    width: 95%;
    border-left: none;
    border-top: 1px solid #888;
    margin-top: 15px;
    padding-top: 15px;
}

.validationButton {
    text-align: center;
}

.validationButton > button {
    margin-top: 15px;
    cursor: pointer;
}

.popup {
    padding-top: 10px;
    text-align: center;
}