<div id="inscription">
    <h1>{{title}}</h1>
    <div class="popup" *ngIf="message.length > 0">
        <div class="content">
            <p>{{message}}</p>
        </div>
        <button (click)="popup = false; redirectToHome()">Fermer</button>
    </div>
    <form [formGroup]="inscriptionForm" *ngIf="message.length === 0">
        <p appearance="outline">
            <mat-label>Nom</mat-label>
            <input matInput formControlName="Nom" id="Nom">
            <control-messages [control]="inscriptionForm.get('Nom')"></control-messages>
        </p>
        <br>
        <p appearance="outline">
            <mat-label>Prénom</mat-label>
            <input matInput formControlName="Prenom" id="Prenom">
            <control-messages [control]="inscriptionForm.get('Prenom')"></control-messages>
        </p>
        <br>
        <p appearance="outline">
            <mat-label>Email</mat-label>
            <input matInput formControlName="Email" id="Email" placeholder="Ex. myemail@example.com">
            <control-messages [control]="inscriptionForm.get('Email')"></control-messages>
        </p>
        <br>
        <p appearance="outline">
            <mat-label>Pays</mat-label>
            <select formControlName="Pays" name="Pays" id="Pays">
                <option value="" disabled selected>Pays</option>
                <option *ngFor="let country of countryList" [value]="country.name">{{country.name}}</option>
           </select>
           
            <control-messages [control]="inscriptionForm.get('Pays')"></control-messages>
        </p>
        <br>
        <p appearance="outline">
            <mat-label>Téléphone</mat-label>
            <input matInput formControlName="Telephone" id="Telephone" placeholder="Ex. 0497318436">
            <control-messages [control]="inscriptionForm.get('Telephone')"></control-messages>
        </p>
        <br>
        <p appearance="outline">
            <mat-label>Mot de passe</mat-label>
            <input matInput type="Password" formControlName="Password" id="Password">
            <control-messages [control]="inscriptionForm.get('Password')"></control-messages>
        </p>
        <br>
        <!-- <mat-slide-toggle color="primary">Afficher le mot de passe</mat-slide-toggle>
        <br> -->
        <button mat-button type="submit" color="warn" [disabled]="!inscriptionForm.valid" (click)="registerAccount(inscriptionForm)">S'INSCRIRE</button>
        <br>
        <br>
        <br>
        <h2>Vous avez déjà un compte ?</h2>
        <button mat-button color="primary" [routerLink]="'/login'">CONNECTEZ VOUS</button>
    </form>
</div>