.container {
    width: 700px;
    margin: 0 auto;
    padding-top: 15px;
    padding-left: 15px;
    &__text {
      margin-left: 25px;
      display: inline-block;
      text-align: left;
    }
}

button {
    margin-right: 5px;
    margin-bottom: 10px;
}

.centered {
    text-align: center;
    &__text {
        margin-left: 25px;
        display: inline-block;
        text-align: center;
      }
}

.popup {
    text-align: center;
}

img {
    margin-left: -100px;
}

#container {
    font-family: 'Lato', 'Helvetica', sans-serif;
    font-weight: 500;
    font-size: 12px;
    font-size: auto;
    text-align: left;   
    width: 400px;
    margin: -10px auto; 
    padding: 20px 110px;
    background-color: #fff;
    border-radius: 30px;
}