.container {
    font-family: 'Lato', 'Helvetica', sans-serif;
    width: 700px;
    margin: 0 auto;
    padding-top: 15px;
    padding-left: 15px;
    margin-bottom: 20px;
    position: relative;
    &__text {
      margin-left: 25px;
      display: inline-block;
      text-align: left;
      position: absolute;
      top: -5px;
    }
}

button {
    margin-right: 5px;
    margin-bottom: 10px;
}

.centered {
    text-align: center;
    &__text {
        margin-left: 25px;
        display: inline-block;
        text-align: center;
      }
}

.centered__text > h2 {
    color: #4F68B1;
    text-transform: capitalize;
    border-top: 1px solid #777;
    padding-top: 15px;
}

.centered__text > h2:first-child {
    border-top: none;
}

.popup {
    text-align: center;
}

img {
    margin-left: -100px;
}

#container {
    font-family: 'Lato', 'Helvetica', sans-serif;
    font-weight: 500;
    font-size: 12px;
    font-size: auto;
    text-align: left;   
    width: 400px;
    margin: -10px auto; 
    padding: 20px 110px;
    background-color: rgb(256,256,256, 0.6);
    border-radius: 30px;
}