
li {
    display:block;
    display:inline-block;
    margin-left: 30px;
}

ul {
    padding-inline-start: 0px;
}

a {
    font-family: 'Lato', 'Helvetica', sans-serif;
    display: inline-block;
    width: 130px;
    padding: 10px;
    color: #fff;
    text-decoration: none;
    font-size: 14px;
    font-size: 700;
    text-transform: uppercase;
    position: relative;

    &::after {
        position: absolute;
        content: "";
        top: 100%;
        left: 0;
        width: 100%;
        height: 3px;
        background-color: #6768BF;
        transform: scaleX(0);
        transform-origin: right;
        transition: transform 0.3s;
    }

    &:hover {
        color: #6768BF;
    }

    &:hover::after {
        transform: scaleX(1);
        transform-origin: left;
    }
}

.nav {
    padding: 10px 0px;
    text-align: center;
}

li:first-child {
    margin-left: 0px;
}