
li {
    display:block;
    display:inline-block;
    margin-left: 30px;
}

ul {
    padding-inline-start: 0px;
}

a {
    font-family: 'Lato', 'Helvetica', sans-serif;
    display: inline-block;
    width: 130px;
    padding: 10px;
    color: #fff;
    border-bottom: 1px solid #fff;
    text-decoration: none;
    font-size: 16px;
    transition: background-color .3s ease-in-out;
}

a:hover {
    background-color: #6768BF;
}

.nav {
    padding: 10px 0px;
    text-align: center;
}

li:first-child {
    margin-left: 0px;
}