.carousel-image {
    border-radius: 25px;
    object-fit: cover;
    width: 1200px;
    height: 630px;
    cursor: pointer;
}

div
{
    max-width: 90%;
    margin: 0px auto;
    text-align: center;
    //color: white;
    //background-color: black;
}


.carousel
{
    position: relative;
    height: 100%;
    width: 100%; 
    overflow: hidden;
    border-radius: 0.5em;
    padding-bottom: 2em;
}

.control
{
    border: none;
    background-color: transparent;
    outline: 0; // remove blue outline border, but make sure they are still focussable for accessibility
    position: absolute;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0.5em;
    color: white;
    font-weight: bold;
    font-size: 3em;
    user-select: none;
    height: 100%;
    opacity: 80%;
    // opacity effect on hover
    transition: opacity 150ms cubic-bezier(0.25, 0.46, 0.45, 0.84);

    &:hover, &:focus {opacity: 1;}

    /* Position the buttons */
    &.next {
        right: 0;
    }
    &.prev {
        left: 0;
    }
}

/* style the arrows */
.arrow
{
    display: block;
    border-left: 0.1em solid black;
    border-bottom: 0.1em solid black;
    width: 0.5em;
    height: 0.5em;
    color: white;

    &.left {
        transform: rotate(45deg);
    }
    &.right {
        transform: rotate(225deg);
    }
}
.button {
    transition: 0.3s ease-in-out;
    background-color: transparent;
    height: 630px;
    position: absolute;
    outline: 0;
    border: none;
    font-size: 2.5em;
    width: 50px;
    &.next {
        border-radius: 0px 25px 25px 0px;
        transform: translate(-98%);
    }
    &.previous {
        border-radius: 25px 0px 0px 25px;
        transform: translate(0%);
    }
}

.special {
    text-shadow: 4px 4px black; 
    color: white; font-weight: 
    bold; font-size: 1.5em;
}

.special:hover {
    color: lightgray;
    zoom: 105%;
}

.button:hover {
    background-color: rgba(0, 0, 0, 0.5);
    color: lightgray;
}