#inscription {
    font-family: 'Lato', 'Helvetica', sans-serif;
    font-weight: 500;
    font-size: 12px;
    font-size: auto;
    text-align: left;   
    width: 400px;
    margin: -10px auto; 
    padding: 20px 100px;
    background-color: rgb(256, 256, 256, 0.7);
    border-radius: 30px;
}

#inscription > h1 {
    text-align: center;
    margin: 0px 0px 20px 0px;
}

mat-label {
    font-family: arial;
    font-size: 18px;
    text-align: center;
    display: flex;
    justify-content: center;
}

.container {
    text-align: center;
}

.alignInfo {
    display: inline-block;
    width: 50%;
}