#inscription {
    font-family: 'Lato', 'Helvetica', sans-serif;
    font-weight: 500;
    font-size: 12px;
    font-size: auto;
    text-align: left;   
    width: 600px;
    margin: -10px auto; 
    padding: 20px 20px;
    background-color: rgb(256, 256, 256, 0.7);
    border-radius: 30px;
}

#inscription > h1 {
    text-align: center;
}

.addRentForm{
    text-align: left;
}

.addRentForm > div:first-child{
    border-radius: 15px 15px 0px 0px;
}

.addRentForm > div:nth-child(7){
    border-radius: 0px 0px 15px 15px;
}

.formSpacing {
    padding: 10px 0px 10px 10px;
    border: 1px solid rgb(214, 214, 214);
    margin: 0px;
}

mat-label {
    font-family: arial;
    font-size: 18px;
    text-align: center;
    display: flex;
    justify-content: center;
}

.container {
    position: relative;
    left: 50px;
}

.alignInfo {
    display: inline-block;
    text-align: left;
    width: 40%;
}

.container > div {
    position: absolute;
    top: -10px;
    right: 50px;
}

.borderedBottom {
    border-bottom: 1px solid #000;
    padding-bottom: 15px;
    padding-top: 15px;
}

.borderedBottom:last-child {
    border-bottom: none;
}

.borderedBottom:first-child {
    padding-top: 0px;
    margin-top: -30px;
}

input {
    width: 300px;
    padding: 5px;
    font-weight: 300;
    font-size: 16px;
    border: none;
    background: none;
}

.right-label {
    float: right;
    margin-top: 10px;
    margin-right: 25px;
    border-left: 1px solid #888;
}

.formSpacing p {
    font-size: 16px;
    display: inline-block;
}

.URLImages {
    width: 95%;
    border-top: 1px solid #888;
    padding-top: 15px;
}

.validateButton {
    padding-top: 15px;
    text-align: center;
}

.popup {
    margin-top: -50px;
    text-align: center;
}