<div id="inscription">
    <h1>{{title}}</h1>
    <div class="popup" *ngIf="message.length > 0">
        <div class="content">
            <p>{{message}}</p>
        </div>
        <button mat-button type="submit" color="warn" (click)="popup = false; redirectToHome()">Fermer</button>
    </div>
    <form [formGroup]="loginForm" *ngIf="message.length === 0" class="RegisterForm">
        <p class="formSpacing">
            <mat-label>Email</mat-label>
            <input class="right-label" matInput formControlName="Email" id="Email" placeholder="Ex. myemail@example.com">
            <control-messages [control]="loginForm.get('Email')"></control-messages>
        </p>
        <p class="formSpacing">
            <mat-label>Mot de passe</mat-label>
            <input class="right-label" matInput type="Password" formControlName="Password" id="Password">
            <control-messages [control]="loginForm.get('Password')"></control-messages>
        </p>
        <div class="confirmForm">
            <button mat-button type="submit" color="warn" [disabled]="!loginForm.valid" (click)="loginAccount(loginForm)">SE CONNECTER</button>
        </div>
    </form>
</div>