.bodyPriority{
    background-image: url('https://i.ibb.co/ZBHYgzk/img-BGVlla.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    padding-bottom: 35px;
    margin: -8px -8px -8px -8px;
    height: 100%;
}
